@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');


:root {

  --pink: #FE3796;
  --gradient: linear-gradient(93.35deg, #FE6AB7 3.55%, #9B4AEB 47.23%, #3931F9 97.46%);
  --black: #121212;
  --white: #F5F7FA;
  --blue: #131740;

  --green: #52D377;
  --yellow: #FA9A2A;
  --red: #EE3232;

  --black-bg: var(--black);
  --black-1: #1C1D21;
  --black-2: #1B1B1B;
  --black-gradient: linear-gradient(180deg, #3B3E40 0%, #101212 100%);

  --primary-text-color: var(--white)
}

html,
body {
  font-family: 'Plus Jakarta Sans';
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: #000;
  background-color: var(--white);
  overflow-x: hidden;

}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1350px;
}

.btn {
  height: 52px;
  color: #fff;
  background-color: var(--pink);
  border-radius: 40px;
  padding: 11px 43px;
}

.outline-btn {
  height: 52px;
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 40px;
  padding: 11px 43px;
}

.text-gradient {
  background: #FE6AB7;
  background: linear-gradient(to right, #FE6AB7 0%, #9B4AEB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav */

.nav {
  padding: 30px 0;
  color: var(--blue);
  z-index: 20;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-row__left {
  display: flex;
  flex-direction: row;
  column-gap: 95px;
  align-items: center;

}

.nav-row__input {
  color: #000;
  font-size: 14px;
  padding: 15px 38px 15px 20px;
  border: 0.7px solid rgba(13, 23, 43, 0.2);
  border-radius: 20px;
  width: 330px;
  background: url(../img/icons/search.svg) no-repeat 300px center;

}



.nav-row__right {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: center;

  font-weight: 700;
}

.nav-menu a {
  color: var(--blue);
}

.nav-btns {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.nav-btns__btn {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 0.7px solid rgba(13, 23, 43, 0.2);
}

/* Header */



.header__left-top-shadow {
  position: absolute;
  left: -220px;
  top: 300px;
  width: 338px;
  height: 338px;
  border-radius: 50%;

  background: #FF377F;
  filter: blur(182.5px);
  opacity: 0.8;
}

.header__left-bottom-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  left: -140px;
  top: 540px;
  border-radius: 50%;

  background: rgba(151, 71, 255, 0.8);
  opacity: 0.8;
  filter: blur(182.5px);
}

.header__center-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 200px;
  border-radius: 50%;

  background: #FE3697;
  opacity: 0.8;
  filter: blur(182.5px);
}

.header__center-shadow-2 {
  position: absolute;
  width: 338px;
  height: 338px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1050px;
  border-radius: 50%;
  background: #FE3697;
  filter: blur(182.5px);
  opacity: 0.8;
}

.header__right-top-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  right: -205px;
  border-radius: 50%;

  background: rgba(151, 71, 255, 0.8);
  opacity: 0.8;
  filter: blur(182.5px);
}

.header__right-bottom-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  right: -125px;
  top: 400px;
  border-radius: 50%;

  background: #FF377F;
  opacity: 0.8;
  filter: blur(182.5px);

}

.header {
  position: relative;
  margin-top: 47px;
  min-height: 800px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__bg {
  position: absolute;
  width: 100%;
  top: -120px;
}

.header__wrapper {
  padding: 0 15px;
  width: 810px;
  margin: 0 auto;
  text-align: center;
}

.header__title {
  color: #000;
  font-weight: 600;
  font-size: 80px;
  line-height: 110px;
}

.header__title-rotate {
  font-style: none;
  display: inline-block;
  padding: 15px 100px;
  background-color: var(--pink);
  color: white;
  transform: rotate(-5deg);
}

.header__description {
  margin-top: 32px;
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
  max-width: 600px;
}

.header__btns {
  display: flex;
  margin-top: 60px;
  column-gap: 20px;
}

.sub-header {
  width: 100%;
}

.header-illustration {
  z-index: 10;
}

.header__partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 85px 240px;
}

/* About */

.about {
  overflow: hidden;
  position: relative;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  margin: 0 auto;
  max-width: 530px;
}

.about__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 28px;
  color: #fff;
  text-transform: capitalizeц;
}

.about__desc {
  color: #F5F7FA;
  opacity: 0.6;
  margin-bottom: 56px;
}

.about__numbers {
  display: flex;
  flex-direction: row;
  column-gap: 56px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 80px;
}

.about__numbers__item-title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 12px;
}

.about__numbers .pink {
  color: #FC1994;
}

.about__numbers .blue {
  color: #9747FF;
}

.about__numbers .purple {
  color: #CB37FF;
}

.about__top-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  left: -250px;
  border-radius: 50%;
  background: #FE3697;
  filter: blur(182.5px);
  opacity: 0.8;
}

.about__bot-shadow {
  position: absolute;
  width: 338px;
  height: 338px;
  top: 500px;
  left: -150px;
  border-radius: 50%;
  background: #9747FF;
  opacity: 0.8;
  filter: blur(182.5px);
}

/* get-started */

.get-started {
  padding: 200px 0;
  display: flex;
}

.get-started__wrapper {
  margin: 0 auto;
  width: 1200px;
}

.get-started__header {
  font-size: 44px;
  font-weight: 700;
  color: #131740;
  text-align: center;
  margin-bottom: 80px;
}

.get-started__list {
  display: flex;
  flex-direction: row;
  column-gap: 34px;
  justify-content: space-between;
  align-items: center;
}

.get-started__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 370px;
  height: 310px;

  padding: 28px 50px;

  text-align: center;


  background-color: #fff;
  border-radius: 20px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.get-started__logo {
  margin-bottom: 32px;
}

.get-started__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.get-started__desc {
  color: #4A5568;
  font-size: 14px;
  font-weight: 500;
}

/* live-auction */

.live-auction {
  padding: 120px;
}

.live-auction__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.live-auction__heading {
  font-size: 44px;
  font-weight: 700;
  color: #131740;
}

.live-auction__view-all {
  font-size: 20px;
  font-weight: 600;
  color: #FE3796;
}

.live-auction__list {
  display: flex;
  flex-direction: row;
  column-gap: 34px;
  row-gap: 34px;
  flex-wrap: wrap;
}

.live-auction__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  height: 397px;
  width: 304px;
  border-radius: 20px;
  overflow: hidden;
  row-gap: 15px;

}

.live-auction__card-img {
  position: absolute;
}

.live-auction__card-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 42px;
  height: 44px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  color: #fff;
  font-weight: 700;
  column-gap: 10px;
}

.live-auction__card-info {
  height: 117px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  padding: 8px 16px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.live-auction__card-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
}

.live-auction__card-info-title {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
}

.live-auction__card-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 145, 145, 0.3);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.live-auction__card-info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
}

.live-auction__card-info-block-bio {
  width: 100%;
}

.live-auction__card-info-block-bio-top,
.live-auction__card-info-block-bio-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.live-auction__card-info-block-bio-top {
  font-size: 12px;
  color: #cbbfc7;
  font-weight: 600;

}

.live-auction__card-info-block-bio-bottom {
  color: #F5F7FA;
  font-weight: 600;
}